<div class="container details" >
    <app-pokemon-statistics *ngIf="pokemonDetails ; else loadingError" [pokemonDetails]="pokemonDetails"></app-pokemon-statistics>
    <app-pokemon-profile *ngIf="pokemonDetails && pokemonSpecimen" [profile]="pokemonDetails" [specimen]="pokemonSpecimen"></app-pokemon-profile>
    <app-pokemon-evolution *ngIf="pokemonDetails && pokemonEvolution" [profile]="pokemonDetails" [evolutionDetails]="pokemonEvolution"></app-pokemon-evolution>
    <app-pokemon-damage *ngIf="pokemonDetails" [pokemonDetails]="pokemonDetails"></app-pokemon-damage>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Loading Pokemon Details. </p>
</ngx-spinner>
<ng-template #loadingError>
    <div class="error-msg">
        <div *ngIf="loadingError$ | async"> Error loading pokemon details. Please ensure you have added valid Pokemon. </div>
        <img src="https://www.seekpng.com/png/detail/334-3345964_error-icon-download-attention-symbol.png" alt="error">
    </div>
</ng-template>