<div class="container details" >
    <app-pokemon-statistics [pokemonDetails]="pokemonProfile$ | async"></app-pokemon-statistics>
    <app-pokemon-profile *ngIf="profileAndSpecies" [profile]="profileAndSpecies"></app-pokemon-profile>
    <app-pokemon-evolution *ngIf="profileWithEvolution" [evolutionDetails]="profileWithEvolution"></app-pokemon-evolution>
    <app-pokemon-damage [pokemonDetails]="pokemonProfile$"></app-pokemon-damage>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Loading Pokemon Details. </p>
</ngx-spinner>