
<div class="profile">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="row header">
                Profile
            </div>
            <div class="row">
                <div class="col-xs-6" *ngFor="let key of profileKeys">
                    <div class="row">
                        <div class="col-xs-6 header-keys">{{ pokemonProfile[key].key }}:</div>
                        <div class="col-xs-6 info" >{{ pokemonProfile[key].value }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>