.profile {
    padding: 8px;
    .header {
        background: green;
        color: white;
        font-weight: bolder;
        padding: 16px;
    }
    .header-keys {
        font-weight: bold;
    }
}