.profile {
    .header {
        background: green;
        color: white;
        text-align: center;
        font-weight: bolder;
        padding: 16px;
    }
    .header-keys {
        font-weight: bold;
    }
}