
<div class="evolution">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row header">
                    Evolution
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img [src]="profile?.sprites?.front_default" >
                    </div>
                    <div class="col-xs-4 image-container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV-GkkAF4V6mXAn2PalgjT9jmF_PMX8IR56v8Qhu2XhkOwGXg4&s">
                    </div>
                    <div class="col-xs-4">
                        <img *ngIf="evolvedImage" [src]="evolvedImage" [alt]="evolvedImage">
                    </div>
                </div>
                <div class="row center">
                    {{ profile?.name | titlecase}} evolves into
                    {{ evolutionDetails?.chain?.evolves_to[0]?.species.name}}
                    <span class="bold">
                        at level {{ evolutionDetails?.chain?.evolves_to[0]?.evolution_details[0]?.min_level}}
                    </span>
                </div>
            </div>
        </div>
    </div>