
<div class="evolution">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row header">
                    Evolution
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img [src]="evolutionDetails?.details?.sprites?.front_default" >
                    </div>
                    <div class="col-xs-4">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-4">
                        <img *ngIf="evolvedImage" [src]="evolvedImage" [alt]="evolvedImage">
                    </div>
                </div>
                <div class="row center">
                    {{ evolutionDetails.details.name | titlecase}} evolves into
                    {{ evolutionDetails.evolution.chain.evolves_to[0].species.name}}
                    <span class="bold">
                        at level {{ evolutionDetails.evolution.chain.evolves_to[0].evolution_details[0].min_level}}
                    </span>
                </div>
            </div>
        </div>
    </div>