<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Pokemon</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/details', ':id']">Details</a></li>
          <li routerLinkActive="active" *ngIf="isAdmin"><a routerLink="/add">Create Product</a></li>
          <li routerLinkActive="active" *ngIf="isAdmin"><a routerLink="/list">Product List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="cursor: pointer;" (click)="login()" *ngIf="!isAdmin">Login</a></li>
            <li><a style="cursor: pointer;" (click)="logout()" *ngIf="isAdmin">Logout</a></li>
            <li><app-pokemon-search></app-pokemon-search></li>
        </ul>
      </div>
    </div>
  </nav>